<html lang="en">
    <head>
        <!-- <?php header("Access-Control-Allow-Origin: *"); ?> -->
        
      <title>Subscribe</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

         
    
    <div class="container">
      <h2>Subscribe Management</h2>
      <form  method="POST"  action="/api/subscribe/addSubscribe" enctype="multipart/form-data">
        <div class="form-group">
          
          <input type="hidden" class="form-control" id="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Imt1cHBhbmlwcmF2YWxsaWthMjAxQGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InByYXZhbGxpa2EiLCJleHBpcmVzSW4iOiIyNGgiLCJpYXQiOjE1MTcxNDMyMDB9.CPNvzV1KuqyzdZ92th35DSSAYi_MU7rRqyNN8T2Fd2s" name="token">
          <span id="e_name" style="color:red;display:none;"></span>
        </div>
        <div class="form-group">
          <label for="name">collectionType</label>
          <input type="text" class="form-control" id="collectionType" placeholder="Collection type" name="collectionType">
          <span id="e_name" style="color:red;display:none;"></span>
        </div>
        <div class="form-group">
          <label for="email">collectionId</label>
          <input type="text" class="form-control" id="collectionId" placeholder="Enter id" name="collectionId">
          <span id="e_mail" style="color:red;display:none;"></span>
        </div>
        <div class="form-group">
          <label for="pwd">title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
          <span id="e_pwd" style="color:red;display:none;"></span>
        </div>
        <div class="form-group">
          <label for="pwd">description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter description" name="description">
          <span id="e_pwd" style="color:red;display:none;"></span>
        </div>
        <div class="form-group">
          <label for="pwd">srp</label>
          <input type="text" class="form-control" id="srp" placeholder="Enter price" name="srp">
          <span id="e_pwd" style="color:red;display:none;"></span>
        </div>
     
        <div class="form-group">
            <label for="pwd">frequency</label>
            <input type="text" class="form-control" id="frequency" placeholder="Enter frequency" name="frequency">
            <span id="e_pwd" style="color:red;display:none;"></span>
          </div>
          <div class="form-group">
            <label for="pwd">expiryDate</label>
            <input type="text" class="form-control" id="expiryDate" placeholder="Enter expiryDate" name="expiryDate">
            <span id="e_pwd" style="color:red;display:none;"></span>
          </div>
          <div class="form-group">
            <label for="pwd">subscriptionProducts</label>
            <input type="text" class="form-control" id="subscriptionProducts" placeholder="Enter subscriptionProducts" name="subscriptionProducts">
            <span id="e_pwd" style="color:red;display:none;"></span>
          </div>
          <div class="form-group">
            <label for="pwd">featuredSubscription</label>
            <input type="checkbox" class="form-control" id="featuredSubscription" placeholder="Enter featuredSubscription" name="featuredSubscription">
            <span id="e_pwd" style="color:red;display:none;"></span>
          </div>
          <div class="form-group">
            <label for="pwd">shippingFree</label>
            <input type="checkbox" class="form-control" id="shippingFree" placeholder="Enter shippingFree" name="shippingFree">
            <span id="e_pwd" style="color:red;display:none;"></span>
          </div>
          <div class="form-group">
                <label for="pwd">freeTrial</label>
                <input type="checkbox" class="form-control" id="freeTrial" placeholder="Enter freeTrial" name="freeTrial">
                <span id="e_pwd" style="color:red;display:none;"></span>
              </div>
        <div class="form-group">
            <input type="file" name="image" id="image" />
            <!-- <input type="submit" value="Upload Image" name="submit"> -->
            <span id = "status"></span>
        </div>
        
        <button type="submit" class="btn btn-default" >Submit</button>
        <!-- <div id="msg" style="color: green;display:none"></div> -->
      </form>
    </div>
    
    <!-- <div>
      <form id="addproduct" method="POST" action="/addimage" enctype="multipart/form-data" >
        
      </form>
      
    </div> -->
    
    </body>
    
    <script>
    
    
    function validate()
    {
      // $("#msg").css("display","none");
    //var token=$("#token").val();
      var collectionType=$("#collectionType").val();
      var collectionId=$("#collectionId").val();
      var title=$("#title").val();
      var description=$("#description").val();
      var price=$("#price").val();
      var image=$("#image").val();
      
      $.ajax({
        
                type: 'POST',
                url: 'http://ec2-35-154-68-84.ap-south-1.compute.amazonaws.com:8084/api/products/addproduct',
               headers:{'token':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Imt1cHBhbmlwcmF2YWxsaWthMjAxQGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InByYXZhbGxpa2EiLCJleHAiOjE1MTY4NjU0MzcsImlhdCI6MTUxNjg2MTgzN30.0AMSzVVtJEQNqILtgSRCKxWuw0V_2h03kzDYBj55bCw'},
    
               // beforeSend: setHeader,
                data: {collectionType:collectionType,collectionId:collectionId,
                  title:title,description:description,price:price,image:image},						
                            success: function(data) {
                              alert("Subscribe added successfully");
                                console.log('success');
                                console.log(data);
    
                                console.log(image);
                                // $("#msg").css("display","block");
                                // $("#msg").html("Subscribe added successfully. ");
                            }
    
      });
      return false;
    }
    
    
    </script>
    
    <!-- <script>
    $(document).ready(function() {
    
       $('#addproduct').submit(function() {
       $("#status").empty().text("File is uploading...");
    
          $(this).ajaxSubmit({
    
              error: function(xhr) {
                  status('Error: ' + xhr.status);
              },
    
              success: function(response) {
            console.log(response)
            $("#status").empty().text(response);
              }
    });
    
    return false;
      });    
    });
    </script> -->
    </html>
    
    